@import 'assets/styles/variables.scss';

main {
    width: calc(100% - 117px);
    margin-left: auto;
    margin-top: 91px;
    .dashboard {
        width: 100%;
        padding: 3.25rem 6.5rem;
        &__title{
            font-size: 3rem;
            margin-bottom: map-get($margins, med);
            &__username{
                color: $color-primary
            }
        }
        &__subtitle{
            font-size: 18px;
            margin-bottom: map-get($margins, xxlarge);
        }
    }
    .error {
        width: 100%;
        padding-top: 6.5rem;
        &__title{
            text-align: center;
            font-size: 5rem;
            font-weight: $font-w-bold;
            color: red;
        }
        &__message{
            text-align: center;
        }
    }
}

